<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>South India Tour</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/nav.css">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">SOUTH INDIA TOUR</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="login"><a href="/login">LOGIN</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
          <li id="orders"><a href="/booking"><a href="https://www.flaticon.com/free-icons/shopping-cart" title="shopping cart icons">BOOKINGS</a></li>
        </ul>
    </div>
  </nav>
<%- include("partials/footer"); -%>
